<div class="py-5">
  <div class="container">
    <h2>All comments</h2>
    <div class="row hidden-md-up mt-2">
      <div class="col-md-4" *ngFor="let comment of comments">
        <div class="card mb-3">
          <div class="card-block p-3">
            <h4 class="card-title">{{ comment.name }}</h4>
            <h5 class="card-subtitle"><b>Email: </b>{{ comment.email }}</h5>
            <p class="card-text p-y-1"><b>Content: </b>{{ comment.body }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>