
  <div class="py-5">
    <div class="container">
      <h2>All posts</h2>
      <div class="row hidden-md-up mt-2">
        <div class="col-md-4" *ngFor="let post of allPosts">
          <div class="card mb-3">
            <div class="card-block p-3">
              <h4 class="card-title">{{ post.title }}</h4>
              <p class="card-text p-y-1">{{ post.body }}</p>
              <button class='btn btn-outline-primary mr-1' [routerLink]="['/posts', post.id ]">Open post</button>
              <button class='btn btn-outline-warning' [routerLink]="['/edit-post', post.id, post.userId, post.title, post.body ]">Edit post</button>
              <button class='btn btn-outline-danger ml-1' (click)="deleteSelected(post.id)">
                <fa-icon [icon]="['fas', 'trash']"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>